<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no,-->
<!--          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <link rel="stylesheet" href="/css/style.css">
    <title>待办清单</title>
</head>
<body>
<h1>待办清单</h1>
<!--新增任务-->
<form action="/addTask" method="post">
    <label for="description"></label>
    <input type="text" name="description" placeholder="请输入任务名称" id="description" required>
    <button type="submit">增加任务</button>
</form>
<hr>
<!-- 显示任务列表 -->
<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.description}" th:classappend="${task.completed}
         ? 'completed' : ''"></span>
        <form action="/updateTask" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${task.id}">
            <button type="submit">切换状态</button>
        </form>
        <form action="/deleteTask" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${task.id}">
            <button type="submit">删除</button>
        </form>
    </li>
</ul>
</body>
</html>